importFrom(Rcpp, evalCpp)
useDynLib(fastText, .registration = TRUE)

export(fasttext_interface)
export(plot_progress_logs)
export(printAnalogiesUsage)
export(printDumpUsage)
export(printNNUsage)
export(printPredictUsage)
export(printPrintNgramsUsage)
export(printPrintSentenceVectorsUsage)
export(printPrintWordVectorsUsage)
export(printQuantizeUsage)
export(printTestLabelUsage)
export(printTestUsage)
export(printUsage)
export(print_parameters)
importFrom(ggplot2,aes)
importFrom(ggplot2,element_text)
importFrom(ggplot2,geom_line)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,ggtitle)
importFrom(ggplot2,theme)
importFrom(grid,grid.layout)
importFrom(grid,grid.newpage)
importFrom(grid,pushViewport)
importFrom(grid,viewport)
importFrom(utils,read.table)
